.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .dashboard{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-top: 25px;
    }
}

.dashboard{
    .header_dashboard{
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1{
            font-family: Nunito;
            color: $dark_blue;

        }
        a{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: $dark_blue;
            border: 2px solid $dark_blue;
            color: $white;
            border-radius: 15px;
            width: 150px;
            height: 40px;
        }
        a:hover{
            background-color: $light_blue;
        }
    }

    .dashboard_bar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.shops{
    margin-top: 25px;
    border-radius: 15px;
    background-color: $white;
    height: 50px;
    border: 0;
    width: 300px;
    margin-bottom: 25px;
    color: $dark_blue;
    font-family: "Yeseva One";
    box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.15);
}

.data_time{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: $white;
    height: 50px;
    border-radius: 15px;
    width: 300px;
    margin-bottom: 25px;
    box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.15);
    p{
        margin: 0;
        color: $light_blue;
        font-family: "Yeseva One";
    }
    .active_data{
        color: $dark_blue;
        border-bottom: solid 3px $dark_red;
    }
}

.rewards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin-bottom: 75px;
    .reward{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        height: 200px;
        width: 200px;
        box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.15);
        p{
            color: $white;
            font-family: "Yeseva One";
            margin: 0;
        }
        p:first-child{
            font-size: 35px;
        }
        p:nth-child(2n){
            font-size: 20px;
        }
        svg{
            width: 200px;
        }

    }
    .categorie_reward{
        background-color: $light_red;
        align-self: flex-end;
        svg{
            color: $dark_blue;
        }
    }
    .subcategorie_reward{
        background-color: $normal_blue;
        align-self: flex-start;
        svg{
            color: $light_red;
        }
    }
}

.top_product{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 500px;
    width: 325px;
    background-color: $light_red;
    border-radius: 15px;
    padding-top: 25px;
    color: $white;
    box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.15);
    h2{
        font-family: "Nunito";
        font-size: 30px;
    }
    h3{
        font-family: "Nunito";
        font-size: 20px;
    }
}

.data_shop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    .data{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 150px;
        border-radius: 15px;
        box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.15);
        p{
            margin: 0;
            font-family: "Yeseva One";
            font-size: 20px;
            color: $dark_blue;
        }
    }
    .data_visitors{
        background-color: $light_blue;
        margin-right:25px;
        margin-bottom: 25px;
        p{
            color: $white;
        }
    }
    .data_avg{
        background-color: $white;
        margin-bottom: 25px;
    }
    .data_delivery{
        background-color: $white;
        margin-right: 25px;
    }
    .data_followers{
        background-color: $light_red;
        p{
            color: $white;
        }
    }
}

.container_comments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: $white;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.15);
    width: 325px;
    height: 500px;
    padding: 15px 5px 5px 10px;
    h3{
        font-family: "Yeseva One";
        font-size: 30px;
        color: $dark_blue;
        margin-bottom: 25px;
    }
    .comments{
        width: 100%;
        overflow-y: auto;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;
    }
    .comments::-webkit-scrollbar{
        display: none;
    }
}

.comment{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    background-color: $bg_blue;
    border-radius: 25px;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.075);
    padding: 5px;
    .comment_text{
        padding-left: 10px;
        width: 75%;
        font-family: "Nunito";
        font-size: 17px;
        color: $dark_blue;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .comment_actions{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 10%;
        height: 100%;
        svg{
            width: 100%;
            height: 50%;
        }
    }
}
