@import 'forms';

button.active.focus, button.active:focus,
button.focus, button:active.focus,
button:active:focus, button:focus {
    outline: none;
    box-shadow: none;
}

input.active.focus, input.active:focus,
input.focus, input:active.focus,
input:active:focus, input:focus {
    outline: none;
    box-shadow: none;
}

select.active.focus, select.active:focus,
select.focus, select:active.focus,
select:active:focus, select:focus {
    outline: none;
    box-shadow: none;
}

* {
    font-family: Nunito, sans-serif;
}

body {
   background: white;
}

.container_center {
    padding: 0 1rem 3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.corp {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    padding: 1.5rem 0;
    color: $dark_blue;
    font-family: "Yeseva One", serif;
    font-size: 1.5rem;

    &:hover {
        color: $dark_blue;
        text-decoration: none;
    }
}

.logo {
    width: 2.25rem;
    height: 2.25rem;
    margin-right: .5rem;
}

.back_link {
    display: block;
    font-size: 1rem;

}

.titre {
    font-family: "Yeseva One", cursive;
    font-size: 2.5rem;
    line-height: 1;
    font-weight: normal;
    text-align: center;
    color: $dark_blue;
    margin: 0 auto 2rem auto;
}

.sous_titre {
    font-family: "Yeseva One", cursive;
    font-size: 1.75rem;
    line-height: 1;
    font-weight: normal;
    text-align: center;
    color: $dark_blue;
    margin: 0 auto 2rem auto;
    display: block;
}

.texte {
    text-align: center;
    width: 80%;
}


.icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: currentColor;
}

.small_icon {
    width: 1rem;
    height: 1rem;
    fill: currentColor;
}

.big_icon {
    width: 36px;
    height: 36px;
    fill: currentColor;
}

.with_label {
    margin-right: .25rem;
}

.fb_icon {
    width: 18px;
    height: 36px;
    fill: currentColor;
}

.recherche {
    position: absolute;
    right: 36px;
    padding: 0.75rem;
    width: 3rem;
    height: 3rem;
}

.mentions_legales {
    padding: 0 2.25rem;
    max-width: 992px;
    margin: 0 auto 2rem auto;

    ul {
        list-style-position: inside;
        padding: 0;
    }
}

@media screen and (min-width: 768px) {

    .container_center {
        padding-bottom: 1rem;
    }

    .recherche {
        right: 0;
    }

}

@media screen and (min-width: 992px) {

    .container_corp {
        padding-left: 2.25rem;
        padding-bottom: 3rem;
    }

    .corp {
        width: fit-content;
        justify-content: flex-start;
    }

    .recherche {
        right: calc((40% - 451px) / 2);
    }

}


::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #020b5d;
    border: 0px none #ffffff;
    border-radius: 51px;
}
::-webkit-scrollbar-thumb:hover {
    background: #031296;
}
::-webkit-scrollbar-thumb:active {
    background: #6978fc;
}
::-webkit-scrollbar-track {
    background: #ffffff;
    border: 0px none #ffffff;
    border-radius: 20px;
}
::-webkit-scrollbar-track:hover {
    background: #ffffff;
}
::-webkit-scrollbar-track:active {
    background: #ffffff;
}
::-webkit-scrollbar-corner {
   background: transparent;
}
