@import 'variables';

* {
    font-family: Nunito, sans-serif;
}

.champ {
    height: 3rem;
    font-size: 1.125rem;
    border: 1px solid $normal_blue;
    border-radius: 16px;
    color: $normal_blue;
    padding: 0.75rem 1rem;
    box-shadow: 0 2px 9px 0 rgba(150, 180, 244, 0.2);
    transition: 0.2s;

    &::placeholder {
        color: $light_blue;
    }

    &:focus {
        outline: none;
        box-shadow: 0 2px 14px 0 rgba(150, 180, 244, 0.6);
    }
}

.bouton {
    height: 3rem;
    width: 3rem;
    padding: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $normal_blue;
    border: 1px solid $normal_blue;
    border-radius: 16px;
    color: $white;
    //transition: 0.2s;

    &:hover {
        background-color: $light_blue;
    }
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: currentColor;
}

.recherche {
    position: absolute;
    right: 36px;
    padding: 0.75rem;
    width: 3rem;
    height: 3rem;
}

@media screen and (min-width: 768px) {

    .recherche {
        right: 0;
    }

}

@media screen and (min-width: 992px) {

    .recherche {
        right: calc((40% - 451px)/2);
    }

}
