.info_shop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    .infos_header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.infos_title{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    svg{
        height: 40px;
        width: 40px;
        color: $dark_blue;
    }
    h2{
        color: $dark_blue;
        font-family: "Yeseva One";
        font-size: 30px;
    }
}

.infos_categorie{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: $white;
    height: 50px;
    width: 300px;
    border-radius: 15px;
    margin-top: 25px;
    box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.15);
    p{
        margin: 0;
        color: $light_blue;
        font-family: "Yeseva One";
    }
    .active_categorie{
        color: $dark_blue;
        border-bottom: solid 3px $dark_red;
    }
}

.infos_general, .infos_complementary, .infos_localisation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    position: absolute;
    transform: translateX(-150%);
    transition: 1s ease-in-out;
    .infos_left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input{
            height: 50px;
            width: 300px;
            border-radius: 15px;
            border: 0;
            box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.15);
            margin-bottom: 15px;
            padding-left: 10px;
        }
        input::placeholder{
            color: $dark_blue;
            font-family: "Nunito";
        }
    }
}

.infos_general, .infos_complementary{
        textarea{
            height: 350px;
            width: 300px;
            border-radius: 15px;
            border: 0;
            box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.15);
            margin-bottom: 15px;
            padding-left: 10px;
            padding-top: 10px;
        }
        textarea::placeholder{
            color: $dark_blue;
            font-family: "Nunito";
        }
}

.infos_localisation{
    .infos_right{
        display: none;
    }
}

.infos_complementary{
    select{
        border-radius: 15px;
        background-color: $white;
        height: 50px;
        border: 0;
        width: 250px;
        margin-bottom: 25px;
        color: $dark_blue;
        font-family: "Nunito";
        box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.15);
    }
    .delivery{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        .delivery_cat{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 100px;
            .oui, .non{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                width: 75px;
                input{
                    height: auto;
                    width: auto;
                    box-shadow: none;
                }
            }
        }
    }
}


.infos_active{
    position: relative;
    transform: translateX(0%);
    transition: 1s ease-in-out;
}

.infos_buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    input{
        width: 125px;
        height: 50px;
        border: 0;
        border-radius: 15px;
        color: $white;
        font-family: Nunito;
    }
    .reset{
        background-color: $dark_red;
    }
    .submit{
        background-color: $dark_blue;
    }
}

