.popup {
    position: fixed;
    top: 0;
    right: 0;
    height: calc(100% - 1rem);
    min-width: 100%;
    transform: translateY(105%);
    transition: 1s ease-in-out;
    background-color: white;
    z-index: 2;
    border-radius: 25px 25px 0 0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





.active {
    transform: translateY(10%);
}

@media screen and (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media  screen and  (min-width: 768px) {
    .popup {
        min-width: 25vw;
    }
}

// Large devices (desktops, 992px and up)
@media screen and  (min-width: 992px) {

}
