@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import 'global';

body {
    background-color: rgba($bg_blue, 0.5);
}

.titre {
    margin-block-end: 0;
    margin-bottom: 0;
}

.user {
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
    margin: 0 auto;
    padding: 0 1rem;
    //font-family: 'Nunito', sans-serif;

    .waves {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        overflow: hidden;
        width: 100%;
    }

    .user_droite {
        margin-top: 4rem;
    }

    a {
        display: flex;
        align-items: center;
        font-weight: bold;
    }

    #modif {
        color: #E4534B;
    }

    #logout {
        color: #020B5D;
        margin-left: 20px;
    }

    .info {
        //margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;

        /*.titre {
            font-family: 'Yeseva One', cursive;
            font-size: 2rem;
        }*/

        .imgUser {
            width: 200px;
            height: 200px;
            clip-path: circle();
            margin: 1rem;

            img {
                width: 100%;
            }
        }

        /*p {
            font-size: 1.5rem;
            margin-top: 10px;
            word-wrap: break-word;
            color: #020B5D;
        }*/

        p {
            color: $dark_blue;
            font-size: 1.25rem;
            margin: 0;
        }

        .name {

            span {
                padding: 0 5px;
            }
        }

        .orange {
            color: #E4534B;
        }

        .separation {
            width: 100px;
            border: solid #E4534B 1px;
        }

    }

    .modout {
        width: 100%;
        display: flex;
        margin: 20px 0;
        padding: 0 20px;
        display: flex;
        //justify-content: space-between;
        justify-content: center;

        .d-none {
            display: none;
        }

    }
}

.ratings {
    max-width: 576px;
    margin: 1rem auto;
    max-height: 100vh;
    overflow: auto;

    .rating {
        padding: 1rem;
        margin: 1rem 0;
        background-color: $white;
        border-radius: .5rem;
        display: grid;
        grid-template: auto 1fr / 1fr 3rem;
        .r_store_name {
            font-family: "Yeseva One", cursive;
            font-size: 1.25rem;
            line-height: 1;
            font-weight: normal;
            color: $dark_blue;
        }
        .r_rating {
            display: flex;
            align-items: baseline;
            justify-content: flex-end;
            color: $dark_red;
        }
        .r_comment {
            position: relative;
            display: flex;
            align-items: center;
            min-height: 3rem;
            grid-column: 1/3;
            text-align: center;
            margin: 1rem 0;
            .quote {
                position: absolute;
                top: 0;
                left: 0;
                fill: rgba($normal_blue, 0.3);
            }
            .qright {
                top: initial;
                left: initial;
                bottom: 0;
                right: 0;
                transform: rotate(180deg);
            }
            p {
                width: 100%;
                margin: 0 3rem;
            }
        }
        .r_action {
            grid-column: 1/3;
            display: flex;
            justify-content: space-evenly;
            .r_edit {
                color: $normal_blue;
            }
            .r_delete {
                color: $dark_red;
            }
            form {
                display: none;
            }
        }
    }
}

@media screen and (min-width: 768px) {

    .user {
        width: 100%;

        .modout {
            //justify-content: left;
        }

        .info {
            /*.titre {
                font-size: 2.5rem;
            }*/

            p {
                font-size: 1.5rem;
            }
        }
    }

}

@media screen and (min-width: 992px) {

    .user {
        display: grid;
        grid-template-columns: 8fr 4fr;

        .user_gauche {
            grid-column: 1/2;
        }

        .user_droite {
            grid-column: 2/3;
            margin-top: 0;
        }

    }

    .ratings {
        max-height: 60vh;
    }

}
