@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import 'global', 'ratings_list';

body {
    background-color: rgba($bg_blue, 0.5);
}

.titre {
    margin-block-end: 0;
    margin-bottom: 0;
}

.user {
    margin: 0 auto;
    padding: 0 1rem;

    .waves {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        overflow: hidden;
        width: 100%;
    }

    .user_droite {
        margin-top: 4rem;
    }

    a {
        display: flex;
        align-items: center;
        font-weight: bold;
    }

    #modif {
        color: #E4534B;
    }

    #logout {
        color: #020B5D;
        margin-left: 20px;
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;

        .imgUser {
            width: 200px;
            height: 200px;
            clip-path: circle();
            margin: 1rem;

            img {
                width: 100%;
            }

            .initiales {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $normal_blue;
                color: white;
                font-size: 4rem;
                letter-spacing: .5rem;
                padding-left: .5rem;
            }
        }

        p {
            color: $dark_blue;
            font-size: 1.25rem;
            margin: 0;
        }

        .name {

            span {
                padding: 0 5px;
            }
        }

        .orange {
            color: #E4534B;
        }

        .separation {
            width: 100px;
            border: solid #E4534B 1px;
        }

    }

    .modout {
        width: 100%;
        display: flex;
        margin: 20px 0;
        padding: 0 20px;
        display: flex;
        justify-content: center;

        .d-none {
            display: none;
        }

    }
}

@media screen and (min-width: 768px) {

    .user {
        width: 100%;

        .info p {
            font-size: 1.5rem;
        }
    }

}

@media screen and (min-width: 992px) {

    .user {
        display: grid;
        grid-template-columns: 8fr 4fr;

        .user_gauche {
            grid-column: 1/2;
        }

        .user_droite {
            grid-column: 2/3;
            margin-top: 0;
        }

    }

}
