@import 'variables';

body {
    background-color: $bg-blue;
}

.connect {
    width: 100%;
    display: flex;
    flex-direction: column;

    .head {
        width: 100%;
    }

    .formulaire {
        width: 100%;
        padding: 1rem;
    }

    .titreImg {
        font-family: 'Yeseva One', cursive;
        color: $dark-blue;
        text-align: center;
        margin-top: 10px;
        font-size: 2.5rem;
    }

    .titreForm {
        display: none;
    }

    .imagebvn {
        width: 200px;
        height: 200px;
        clip-path: circle();
    }

    .centre {
        text-align: center;

    }

    .formulaireConnect {
        text-align: center;

        .bgoogle {
            background-color: white;
            color: $dark-blue;
            margin-top: 10px;
            font-size: 1rem;
        }

        .logoGoogle {
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }

        .ou {
            font-size: 1rem;
            margin-top: 10px;
        }

    }

}


@media screen and (min-width: 768px) {

    .head {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .connect {
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .titreImg {
            display: none;
        }

        .titreForm {
            display: block;
            font-family: 'Yeseva One', cursive;
            color: $dark-blue;
            text-align: center;
            font-size: 4rem;
        }

        .imagebvn {
            width: 30vw;
            height: 30vw;
            position: absolute;
            left: 10%;
            top: 50%;
            transform: translateY(-50%);
        }

        .formulaireConnect {

            .bgoogle {
                margin-top: 10px;
            }

            .logoGoogle {
                width: 30px;
                height: 30px;
                margin-right: 10px;
            }
        }
    }
}
