@import 'variables';

body{
    background-color: $bg_blue;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .dashboard{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
}

.dashboard{
    .dashboard_bar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.shops{
    margin-top: 25px;
    border-radius: 15px;
    background-color: $white;
    height: 50px;
    border: 0;
    width: 300px;
    margin-bottom: 25px;
    color: $dark_blue;
    font-family: "Yeseva One";
}

.data_time{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: $white;
    height: 50px;
    border-radius: 15px;
    width: 300px;
    margin-bottom: 25px;
    p{
        margin: 0;
        color: $light_blue;
        font-family: "Yeseva One";
    }
}

.rewards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin-bottom: 25px;
    .reward{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        height: 200px;
        width: 200px;
        p{
            color: $white;
            font-family: "Yeseva One";
        }
        p:first-child{
            font-size: 35px;
        }
        p:nth-child(2n){
            font-size: 20px;
            margin: 0;
        }
        svg{
            width: 200px;
        }

    }
    .categorie_reward{
        background-color: $light_red;
        align-self: flex-end;
        svg{
            color: $dark_blue;
        }
    }
    .subcategorie_reward{
        background-color: $normal_blue;
        align-self: flex-start;
        svg{
            color: $light_red;
        }
    }
}

.top_product{
}
