.favoris_header {
   width: 100%;
   font-family: "Yeseva One";
   color: #020B5D;

   .sky_wave {
      position: absolute;
      z-index: -1;
      overflow-y: hidden;
   }

   .corp {
      display: block;
      width: 100%;
      padding: 1.5rem 0;
      font-size: 1.5rem;
      text-align: center;
   }

   h1 {
      font-size: 40px;
      text-align: center;
      padding: 50px;
   }
}

.list_favoris {
   position: relative;
   z-index: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   .card {
      margin: 0 30px;
   }
}

@media screen and (min-width: 768px) {

   .list_favoris {
      flex-direction: row;
      flex-wrap: wrap;

   }
}

@media screen and (min-width: 992px) {

   .favoris_header {

      .corp {
         text-align: left;
         padding-left: 36px;
      }
   }
}
