@import 'global';
@import 'store_card';

footer {
   position: relative;
   padding-top: 50vh;
}

.favoris_header {
   width: 100%;
   font-family: "Yeseva One";
   color: #020B5D;

   .sky_wave {
      position: absolute;
       top: 0;
       left: 0;
      z-index: -1;
      overflow-y: hidden;
   }

}

.list_favoris {
   position: relative;
   z-index: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   .card {
      margin: 0 30px;
   }
}

@media screen and (min-width: 768px) {

   .list_favoris {
      flex-direction: row;
      flex-wrap: wrap;

   }
}
