@import 'global', 'store_card', 'popup', 'markercluster', 'ratings_list';

.mycluster {
   height: 30px;
   width: 30px;
   border-radius: 10px;
   background-color: rgba(2,11,93,0.8);
   color: white;
   text-align: center;
   font-size: 18px;
   line-height: 30px;
   margin-top: -20px;
   margin-left: -20px;
}

main{
   display: flex;
   flex-direction: column;
   align-items: center;
}

#map {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 0;
   width : 100vw;
   height : 100vh;
   margin: 0;
   padding: 0;
   overflow: hidden;
}

.leaflet-control-zoom{
   display: none;
}

.searchbar {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   z-index: 1;
   width: calc(100% - 40px);
   max-width: 560px;
   position: fixed;
   top: 20px;
   left: 20px;

   .search {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      width: calc(100% - 3.5rem);
   }

   .recherche {
      right: 3.5rem;
      position: absolute;
      z-index: 2;
      right: 56px;
   }

   .champRecherche {
      width: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 1;

      input {
         width: 100%;
         font-size: 15px;
      }
   }
}

.emptySearch {
   position: absolute;
   right: 6.5rem;
   z-index: 1;
   background-color: transparent;
   border: none;

   svg {
      padding: 5px;
      color: #5F73F2;
   }
}

.emptySearch:hover {
   background-color: transparent;
}

.filter {
   z-index: 1;
}

#autocomplete {
   position: absolute;
   top: 0;
   z-index: -1;
   width: calc(100% + 3.5rem);
   background-color: rgba(71,91,245,0.2);
   border-radius: 16px;

   p:first-child {
      margin-top: 60px;
   }

   p:last-child:hover {
      border-radius: 0px 0px 16px 16px;
   }

   p {
      color: #020B5D;
      padding: 10px 10px 10px 10px;
      margin: 0;
   }

   p:hover {
      background-color: rgba(255,255,255,0.8);
      cursor: pointer;
   }
}

#filter {
   position: absolute;
   top: 0;
   z-index: -1;
   width: calc(100% + 3.5rem);
   background-color: rgba(71,91,245,0.2);
   border-radius: 16px;

   .selects {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      select {
         width: 200px;
         padding: 8px;
         border-radius: 16px;
         margin: 5px;
         border: 1px solid $normal_blue;
         color: $normal_blue;
      }

      button {
         width: 70px;
         padding: 0;
         margin: 5px;
      }

      #area_search {
         width: 230px;
         margin: 0 auto;
         margin-bottom: 5px;
      }

   }
}

@media screen and (min-width: 992px) {
   .leaflet-control-zoom{
      display: inline;
   }

   main{
      align-items: start;
      .searchbar{
         width: 35%;
      }
   }
}
