$color: #020B5D;
$corner: 16px;

.navbar {
   width: 100%;
   background-color: $color;
   color: white;
   font-family: 'Nunito';
   font-size: 16px;
   display: flex;
   justify-content: space-evenly;
   position: fixed;
   bottom: 0;
   left: 0;
   z-index: 100;
   padding-bottom: env(safe-area-inset-bottom); // padding pour barre de navigation iPhone borderless

   .onglet {
      display: flex;
      justify-content: center;
      width: 100%;
      opacity: 0.5;
      transition: all 0.2s;
      color: white;
      text-decoration: none;

      div {
         margin: auto 0;
      }

      div:first-of-type {
         padding-right: 5px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         padding: 5px;

         svg {
            padding-top: 4px;
            width: 28px;
            height: 28px;
            fill: currentColor;
         }

         span {
            font-size: 6px;
            font-family: 'Nunito-Bold';
            font-weight: bold;
            color: $color;
         }
      }

      div:last-of-type {
         padding-left: 5px;
         display: none;
      }
   }

   .onglet:hover {
      opacity: 1;
      cursor: pointer;

      div:first-of-type {

         span {
            color: white;
         }
      }
   }

   .currentPage {
      opacity: 1;
      cursor: pointer;

      div:first-of-type {

         span {
            color: white;
         }
      }
   }
}

// Medium devices (tablets, 768px and up)
@media screen and (min-width: 768px) {
   .navbar {
      .onglet {
         div:last-of-type {
            display: inline;
         }
      }
   }
}

// Large devices (desktops, 992px and up)
@media screen and (min-width: 992px) {

   .navbar {
      width: 57%;
      max-width: 750px;
      max-height: 64px;
      border-radius: 16px;
      bottom: auto;
      left: auto;
      top: 20px;
      right: 20px;
      padding-bottom: 0; // suppression du padding pour barre de navigation iPhone borderless
      position: absolute;
      background-color: transparent;
      color: $color;
      transition: position 0.2s;

      .onglet {
         color: $color;
      }

      .onglet div:first-of-type span {
         color: transparent;
      }

      .onglet:hover div:first-of-type span {
         color: $color;
      }

      .currentPage div:first-of-type span {
         color: $color;
      }

      .onglet {
         width: initial;
         padding: 5px;
      }
   }

   .navbar_blue {
      position: fixed;
      background-color: $color;
      color: white;

      .onglet {
         color: white;
      }

      .onglet:hover div:first-of-type span {
         color: white;
      }

      .currentPage div:first-of-type span {
         color: white;
      }
   }
}
