@import url(https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap);
body {
  background-color: #eaeffc;
}

.connect {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.connect .head {
  width: 100%;
}
.connect .formulaire {
  width: 100%;
}
.connect .titreImg {
  font-family: "Yeseva One", cursive;
  color: #020b5d;
  text-align: center;
  margin-top: 10px;
  font-size: 2.5rem;
}
.connect .titreForm {
  display: none;
}
.connect .imagebvn {
  width: 200px;
  height: 200px;
  -webkit-clip-path: circle();
          clip-path: circle();
}
.connect .centre {
  text-align: center;
}
.connect .formulaireConnect {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10px;
  padding-bottom: 60px;
}
.connect .formulaireConnect .inputText {
  width: 80%;
  max-width: 500px;
  margin: 5px auto;
  height: 50px;
  font-size: 1rem;
  border: solid #475BF5 1px;
  border-radius: 15px;
  color: #475BF5;
  padding: 0 20px;
  box-shadow: 0 2px 9px 0 rgba(150, 180, 244, 0.2);
}
.connect .formulaireConnect .inputText::-moz-placeholder {
  color: #96b4f4;
}
.connect .formulaireConnect .inputText:-ms-input-placeholder {
  color: #96b4f4;
}
.connect .formulaireConnect .inputText::placeholder {
  color: #96b4f4;
}
.connect .formulaireConnect .input_error {
  display: block;
  color: #e4534b;
  margin-bottom: 0.5rem;
}
.connect .formulaireConnect .roles_row {
  display: flex;
  flex-direction: column;
}
.connect .formulaireConnect .roles_row .role_button {
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
}
.connect .formulaireConnect .roles_row .role_radio {
  display: none;
}
.connect .formulaireConnect .roles_row .role_radio:checked ~ .role_label {
  color: white;
  background-color: #475BF5;
}
.connect .formulaireConnect .roles_row .role_label {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 5px;
  border: solid #475BF5 1px;
  border-radius: 15px;
  color: #475BF5;
  background-color: #FFFFFF;
  padding: 5px 20px;
  box-shadow: 0 2px 9px 0 rgba(150, 180, 244, 0.2);
}
.connect .formulaireConnect .roles_row .role_titre {
  font-size: 1.2rem;
  font-weight: bold;
}
.connect .formulaireConnect .button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 60px;
  font-size: 1rem;
  width: 70%;
  max-width: 450px;
  border-radius: 15px;
  border: none;
  transition: 0.2s;
}
.connect .formulaireConnect .button:hover {
  text-decoration: none;
}
.connect .formulaireConnect .bbleu {
  background-color: #020b5d;
  box-shadow: 0 2px 9px 0 rgba(2, 11, 93, 0.2);
  color: white;
}
.connect .formulaireConnect .bbleu:hover {
  box-shadow: 0 2px 9px 0 rgba(2, 11, 93, 0.4);
}
.connect .formulaireConnect .brouge {
  background-color: #e4534b;
  box-shadow: 0 2px 9px 0 rgba(228, 83, 75, 0.2);
  color: white;
  margin-top: 20px;
}
.connect .formulaireConnect .brouge:hover {
  box-shadow: 0 2px 9px 0 rgba(228, 83, 75, 0.4);
  cursor: pointer;
}
.connect .formulaireConnect .bgoogle {
  background-color: white;
  color: #020b5d;
  margin-top: 10px;
  font-size: 1rem;
}
.connect .formulaireConnect .logoGoogle {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.connect .formulaireConnect .ou {
  font-size: 1rem;
  margin-top: 10px;
}
.connect .footer {
  background-color: darkblue;
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  color: white;
}

@media screen and (min-width: 768px) {
  .head {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .connect {
    padding-top: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .connect .footer {
    top: 0;
    background-color: #00000000;
    color: #020b5d;
    text-align: right;
  }
  .connect .titreImg {
    display: none;
  }
  .connect .titreForm {
    display: block;
    font-family: "Yeseva One", cursive;
    color: #020b5d;
    text-align: center;
    margin-top: 60px;
    font-size: 4rem;
  }
  .connect .imagebvn {
    width: 30vw;
    height: 30vw;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
  }
  .connect .formulaireConnect .inputText {
    max-width: 500px;
    margin-top: 10px;
    font-size: 1.2rem;
    color: #475BF5;
  }
  .connect .formulaireConnect .button {
    margin: 0 auto;
    height: 60px;
    font-size: 1.2rem;
    width: 50%;
    border-radius: 15px;
    border: none;
  }
  .connect .formulaireConnect .bbleu {
    background-color: #020b5d;
    color: white;
  }
  .connect .formulaireConnect .brouge {
    margin-top: 20px;
  }
  .connect .formulaireConnect .bgoogle {
    margin-top: 10px;
  }
  .connect .formulaireConnect .logoGoogle {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
}
.formulaireEdit label {
  display: block;
}
