body {
  background-color: #eaeffc;
}

.connect {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.connect .head {
  width: 100%;
}
.connect .formulaire {
  width: 100%;
  padding: 1rem;
}
.connect .titreImg {
  font-family: "Yeseva One", cursive;
  color: #020b5d;
  text-align: center;
  margin-top: 10px;
  font-size: 2.5rem;
}
.connect .titreForm {
  display: none;
}
.connect .imagebvn {
  width: 200px;
  height: 200px;
  -webkit-clip-path: circle();
          clip-path: circle();
}
.connect .centre {
  text-align: center;
}
.connect .formulaireConnect {
  text-align: center;
}
.connect .formulaireConnect .roles_row {
  display: flex;
  flex-direction: column;
}
.connect .formulaireConnect .roles_row .role_button {
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
}
.connect .formulaireConnect .roles_row .role_radio {
  display: none;
}
.connect .formulaireConnect .roles_row .role_radio:checked ~ .role_label {
  color: white;
  background-color: #475BF5;
}
.connect .formulaireConnect .roles_row .role_label {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 5px;
  border: solid #475BF5 1px;
  border-radius: 15px;
  color: #475BF5;
  background-color: #FFFFFF;
  padding: 5px 20px;
  box-shadow: 0 2px 9px 0 rgba(150, 180, 244, 0.2);
}
.connect .formulaireConnect .roles_row .role_titre {
  font-size: 1.2rem;
  font-weight: bold;
}
.connect .formulaireConnect .bgoogle {
  background-color: white;
  color: #020b5d;
  margin-top: 10px;
  font-size: 1rem;
}
.connect .formulaireConnect .logoGoogle {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.connect .formulaireConnect .ou {
  font-size: 1rem;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .head {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .connect {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .connect .titreImg {
    display: none;
  }
  .connect .titreForm {
    display: block;
    font-family: "Yeseva One", cursive;
    color: #020b5d;
    text-align: center;
    font-size: 4rem;
  }
  .connect .imagebvn {
    width: 30vw;
    height: 30vw;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
  }
  .connect .formulaireConnect .bgoogle {
    margin-top: 10px;
  }
  .connect .formulaireConnect .logoGoogle {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
}
