.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 25px;
}

.dashboard .header_dashboard {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dashboard .header_dashboard h1 {
  text-align: center;
  font-family: Nunito;
  color: #020b5d;
}
.dashboard .header_dashboard a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #020b5d;
  border: 2px solid #020b5d;
  color: #FFFFFF;
  border-radius: 15px;
  width: 150px;
  height: 40px;
}
.dashboard .header_dashboard a:hover {
  background-color: #96b4f4;
}
.dashboard .dashboard_bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shops {
  margin-top: 25px;
  border-radius: 15px;
  background-color: #FFFFFF;
  height: 50px;
  border: 0;
  width: 300px;
  margin-bottom: 25px;
  color: #020b5d;
  font-family: "Yeseva One";
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.15);
}

.data_time {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #FFFFFF;
  height: 50px;
  border-radius: 15px;
  width: 300px;
  margin-bottom: 25px;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.15);
}
.data_time p {
  margin: 0;
  color: #96b4f4;
  font-family: "Yeseva One";
}
.data_time .active_data {
  color: #020b5d;
  border-bottom: solid 3px #e4534b;
}

.rewards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin-bottom: 75px;
}
.rewards .reward {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.15);
}
.rewards .reward p {
  color: #FFFFFF;
  font-family: "Yeseva One";
  margin: 0;
  text-align: center;
}
.rewards .reward p:first-child {
  padding-top: 5px;
  font-size: 35px;
}
.rewards .reward p:nth-child(2n) {
  font-size: 20px;
}
.rewards .reward svg {
  width: 200px;
}
.rewards .categorie_reward {
  background-color: #feb3b1;
  align-self: flex-end;
}
.rewards .categorie_reward svg {
  color: #020b5d;
}
.rewards .subcategorie_reward {
  background-color: #475BF5;
  align-self: flex-start;
}
.rewards .subcategorie_reward svg {
  color: #feb3b1;
}

.top_product {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 500px;
  width: 325px;
  background-color: #feb3b1;
  border-radius: 15px;
  padding-top: 25px;
  color: #FFFFFF;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.15);
}
.top_product h2 {
  font-family: "Nunito";
  font-size: 30px;
}
.top_product h3 {
  font-family: "Nunito";
  font-size: 20px;
}

.data_shop {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
.data_shop .data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 165px;
  height: 165px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.15);
}
.data_shop .data p {
  margin: 0;
  font-family: "Yeseva One";
  font-size: 20px;
  color: #020b5d;
}
.data_shop .data_visitors {
  background-color: #96b4f4;
  margin-bottom: 20px;
}
.data_shop .data_visitors p {
  color: #FFFFFF;
}
.data_shop .data_avg {
  background-color: #FFFFFF;
  margin-bottom: 20px;
}
.data_shop .data_delivery {
  background-color: #FFFFFF;
  margin-bottom: 20px;
}
.data_shop .data_followers {
  background-color: #feb3b1;
  margin-bottom: 20px;
}
.data_shop .data_followers p {
  color: #FFFFFF;
}

.container_comments {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 50px;
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.15);
  width: 325px;
  height: 500px;
  padding: 15px 5px 5px 10px;
}
.container_comments h3 {
  font-family: "Yeseva One";
  font-size: 30px;
  color: #020b5d;
  margin-bottom: 25px;
}
.container_comments .comments {
  width: 100%;
  overflow-y: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}
.container_comments .comments::-webkit-scrollbar {
  display: none;
}

.comment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
  background-color: #eaeffc;
  border-radius: 25px;
  margin-bottom: 15px;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.075);
  padding: 5px;
}
.comment .comment_text {
  /*display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;*/
  padding-left: 10px;
  width: 75%;
  font-family: "Nunito";
  font-size: 17px;
  color: #020b5d;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  /*svg{
      width: 5%;
      height: auto;
      fill: $dark_blue;
  }*/
}
.comment .comment_actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
}
.comment .comment_actions .rating_note {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #e4534b;
  height: 50%;
}
.comment .comment_actions .rating_note svg {
  width: 50%;
  fill: #e4534b;
}
.comment .comment_actions .rating_note p {
  font-size: 20px;
  font-family: Nunito;
  margin: 0;
}
.comment .comment_actions svg {
  width: 100%;
  height: 50%;
}

@media (min-width: 576px) {
  .rewards {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .data_shop {
    margin-top: 0;
    width: 80%;
  }
  .data_shop .data {
    width: 200px;
    height: 200px;
    margin: 0;
    margin-bottom: 15px;
  }

  .container_comments {
    width: 80%;
  }
  .container_comments .comments {
    justify-content: center;
    width: 85%;
  }
}
@media (min-width: 992px) {
  .container {
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin: 0 auto;
    margin-top: 100px;
    width: 90%;
    height: 860px;
  }
  .container .dashboard {
    margin: 0;
    width: 25%;
    height: 860px;
    justify-content: flex-start;
  }
  .container .dashboard .rewards {
    margin-top: 75px;
    flex-direction: column;
  }
  .container .dashboard .rewards .reward {
    margin: 0 auto;
    align-self: normal;
    margin-bottom: 50px;
  }

  h1 {
    font-size: 45px;
  }

  .data_shop {
    margin-top: 0;
    width: 25%;
  }
  .data_shop .data {
    width: 200px;
    height: 200px;
  }

  .container_comments {
    margin: 0;
    width: 50%;
    height: 860px;
  }
}
/*.info_shop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    .infos_header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.infos_title{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    svg{
        height: 40px;
        width: 40px;
        color: $dark_blue;
    }
    h2{
        color: $dark_blue;
        font-family: "Yeseva One";
        font-size: 30px;
    }
}

.infos_categorie{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: $white;
    height: 50px;
    width: 300px;
    border-radius: 15px;
    margin-top: 25px;
    box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.15);
    p{
        margin: 0;
        color: $light_blue;
        font-family: "Yeseva One";
    }
    .active_categorie{
        color: $dark_blue;
        border-bottom: solid 3px $dark_red;
    }
}

.infos_general, .infos_complementary, .infos_localisation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    position: absolute;
    transform: translateX(-150%);
    transition: 1s ease-in-out;
    .infos_left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input{
            height: 50px;
            width: 300px;
            border-radius: 15px;
            border: 0;
            box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.15);
            margin-bottom: 15px;
            padding-left: 10px;
        }
        input::placeholder{
            color: $dark_blue;
            font-family: "Nunito";
        }
    }
}

.infos_general, .infos_complementary{
        textarea{
            height: 350px;
            width: 300px;
            border-radius: 15px;
            border: 0;
            box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.15);
            margin-bottom: 15px;
            padding-left: 10px;
            padding-top: 10px;
        }
        textarea::placeholder{
            color: $dark_blue;
            font-family: "Nunito";
        }
}

.infos_localisation{
    .infos_right{
        display: none;
    }
}

.infos_complementary{
    select{
        border-radius: 15px;
        background-color: $white;
        height: 50px;
        border: 0;
        width: 250px;
        margin-bottom: 25px;
        color: $dark_blue;
        font-family: "Nunito";
        box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.15);
    }
    .delivery{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        .delivery_cat{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 100px;
            .oui, .non{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                width: 75px;
                input{
                    height: auto;
                    width: auto;
                    box-shadow: none;
                }
            }
        }
    }
}


.infos_active{
    position: relative;
    transform: translateX(0%);
    transition: 1s ease-in-out;
}

.infos_buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    input{
        width: 125px;
        height: 50px;
        border: 0;
        border-radius: 15px;
        color: $white;
        font-family: Nunito;
    }
    .reset{
        background-color: $dark_red;
    }
    .submit{
        background-color: $dark_blue;
    }
}

*/
body {
  background-color: #eaeffc;
}
