.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 25px;
}

.dashboard .header_dashboard {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dashboard .header_dashboard h1 {
  text-align: center;
  font-family: Nunito;
  color: #020b5d;
}
.dashboard .header_dashboard a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #020b5d;
  border: 2px solid #020b5d;
  color: #FFFFFF;
  border-radius: 15px;
  width: 150px;
  height: 40px;
}
.dashboard .header_dashboard a:hover {
  text-decoration: none;
  box-shadow: 0 2px 9px 0 rgba(150, 180, 244, 0.6);
}
.dashboard .dashboard_bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shops {
  margin-top: 25px;
  border-radius: 15px;
  background-color: #FFFFFF;
  height: 50px;
  border: 0;
  width: 300px;
  margin-bottom: 25px;
  color: #020b5d;
  font-family: "Yeseva One";
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.15);
}

.data_time {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #FFFFFF;
  height: 50px;
  border-radius: 15px;
  width: 300px;
  margin-bottom: 25px;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.15);
}
.data_time p {
  margin: 0;
  color: #96b4f4;
  font-family: "Yeseva One";
}
.data_time .active_data {
  color: #020b5d;
  border-bottom: solid 3px #e4534b;
}

.rewards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin-bottom: 75px;
}
.rewards .reward {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.15);
}
.rewards .reward p {
  color: #FFFFFF;
  font-family: "Yeseva One";
  margin: 0;
  text-align: center;
}
.rewards .reward p:first-child {
  padding-top: 5px;
  font-size: 35px;
}
.rewards .reward p:nth-child(2n) {
  font-size: 20px;
}
.rewards .reward svg {
  width: 200px;
}
.rewards .categorie_reward {
  background-color: #feb3b1;
  align-self: flex-end;
}
.rewards .categorie_reward svg {
  color: #020b5d;
}
.rewards .subcategorie_reward {
  background-color: #475BF5;
  align-self: flex-start;
}
.rewards .subcategorie_reward svg {
  color: #feb3b1;
}

.top_product {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 500px;
  width: 325px;
  background-color: #feb3b1;
  border-radius: 15px;
  padding-top: 25px;
  color: #FFFFFF;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.15);
}
.top_product h2 {
  font-family: "Nunito";
  font-size: 30px;
}
.top_product h3 {
  font-family: "Nunito";
  font-size: 20px;
}

.data_shop {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
.data_shop .data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 165px;
  height: 165px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.15);
}
.data_shop .data p {
  margin: 0;
  font-family: "Yeseva One";
  font-size: 20px;
  color: #020b5d;
}
.data_shop .data_visitors {
  background-color: #96b4f4;
  margin-bottom: 20px;
}
.data_shop .data_visitors p {
  color: #FFFFFF;
}
.data_shop .data_avg {
  background-color: #FFFFFF;
  margin-bottom: 20px;
}
.data_shop .data_delivery {
  background-color: #FFFFFF;
  margin-bottom: 20px;
}
.data_shop .data_followers {
  background-color: #feb3b1;
  margin-bottom: 20px;
}
.data_shop .data_followers p {
  color: #FFFFFF;
}

.container_comments {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 50px;
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.15);
  width: 325px;
  height: 500px;
  padding: 15px 5px 5px 10px;
}
.container_comments h3 {
  font-family: "Yeseva One";
  font-size: 30px;
  color: #020b5d;
  margin-bottom: 25px;
}
.container_comments .comments {
  width: 100%;
  overflow-y: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}
.container_comments .comments::-webkit-scrollbar {
  display: none;
}

.comment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
  background-color: #eaeffc;
  border-radius: 25px;
  margin-bottom: 15px;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.075);
  padding: 5px;
}
.comment .comment_text {
  /*display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;*/
  padding-left: 10px;
  width: 75%;
  font-family: "Nunito";
  font-size: 17px;
  color: #020b5d;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  /*svg{
      width: 5%;
      height: auto;
      fill: $dark_blue;
  }*/
}
.comment .comment_actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
}
.comment .comment_actions .rating_note {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #e4534b;
  height: 50%;
}
.comment .comment_actions .rating_note svg {
  width: 50%;
  fill: #e4534b;
}
.comment .comment_actions .rating_note p {
  font-size: 20px;
  font-family: Nunito;
  margin: 0;
}
.comment .comment_actions a {
  height: 50px;
}
.comment .comment_actions a svg {
  width: 100%;
  fill: red;
}

@media (min-width: 576px) {
  .rewards {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .data_shop {
    margin-top: 0;
    width: 80%;
  }
  .data_shop .data {
    width: 200px;
    height: 200px;
    margin: 0;
    margin-bottom: 15px;
  }

  .container_comments {
    width: 80%;
  }
  .container_comments .comments {
    justify-content: center;
    width: 85%;
  }
}
@media (min-width: 992px) {
  .container .dashboard {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 860px;
    margin-top: 85px;
    width: 80%;
  }
  .container .head {
    height: 860px;
  }
  .container .head .rewards {
    display: flex;
    flex-direction: column;
    height: 65%;
  }
  .container .head .rewards .reward {
    margin-bottom: 25px;
  }
  .container .data_shop {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .container .container_comments {
    height: 860px;
    margin: 0;
    width: 80%;
  }
}
.info_shop {
  margin-top: 100px;
}

h2 {
  color: #020b5d;
  font-family: "Yeseva One";
  font-size: 30px;
  text-align: center;
}

.infos_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}
.infos_header button {
  color: #FFFFFF;
  height: 50px;
  width: 200px;
  border-radius: 15px;
  border: 2px solid #020b5d;
  box-shadow: 0 2px 9px 0 rgba(150, 180, 244, 0.2);
  margin-bottom: 15px;
  padding-left: 10px;
  background-color: #020b5d;
}
.infos_header button:hover {
  box-shadow: 0 2px 9px 0 rgba(150, 180, 244, 0.6);
  cursor: pointer;
}

.input-file {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
}
.input-file input {
  margin-top: 10px;
}

.orange_requiered {
  color: #E4534B;
}

h1 {
  font-family: "Yeseva One", cursive;
  color: #020B5D;
  text-align: center;
  margin-top: 10px;
  font-size: 2rem;
}

.validate {
  background-color: #feb3b1;
  width: 80%;
  max-width: 500px;
  height: 50px;
  box-shadow: 0 2px 9px 0 rgba(228, 83, 75, 0.2);
  font-size: 1rem;
  border-radius: 15px;
  color: #FFFFFF;
  border: none;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.input-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
.input-row p {
  color: #475BF5;
  margin-bottom: 2px;
}
.input-row input, .input-row textarea, .input-row select {
  width: 80%;
  max-width: 500px;
  margin: 5px auto;
  height: 50px;
  font-size: 1rem;
  border: solid #475BF5 1px;
  border-radius: 15px;
  color: #475BF5;
  padding: 0 20px;
  box-shadow: 0 2px 9px 0 rgba(71, 91, 245, 0.2);
}
.input-row input::-moz-placeholder {
  color: #96B4F4;
}
.input-row input:-ms-input-placeholder {
  color: #96B4F4;
}
.input-row input::placeholder {
  color: #96B4F4;
}
.input-row textarea::-moz-placeholder {
  color: #96B4F4;
}
.input-row textarea:-ms-input-placeholder {
  color: #96B4F4;
}
.input-row textarea::placeholder {
  color: #96B4F4;
}
.input-row .cke_chrome {
  font-size: 1rem;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 2px 9px 0 rgba(71, 91, 245, 0.2);
}
.input-row textarea {
  height: 100px;
  padding-top: 10px;
}
.input-row .livraison_button {
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
}
.input-row .livraison_radio {
  display: none;
}
.input-row .livraison_radio:checked ~ .livraison_label {
  color: white;
  background-color: #475BF5;
}
.input-row .livraison_label {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 5px;
  border: solid #475BF5 1px;
  border-radius: 15px;
  color: #475BF5;
  background-color: #FFFFFF;
  padding: 5px 20px;
  box-shadow: 0 2px 9px 0 rgba(150, 180, 244, 0.2);
}
.input-row .livraison_titre {
  font-size: 1.2rem;
  font-weight: bold;
}

.infos_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}
.infos_buttons input {
  width: 125px;
  height: 50px;
  border: 0;
  border-radius: 15px;
  color: #FFFFFF;
  font-family: Nunito;
}
.infos_buttons .reset {
  background-color: #e4534b;
  box-shadow: 0 2px 9px 0 rgba(228, 83, 75, 0.2);
}
.infos_buttons .submit {
  background-color: #020b5d;
  box-shadow: 0 2px 9px 0 rgba(150, 180, 244, 0.2);
}
.infos_buttons .reset:hover {
  box-shadow: 0 2px 9px 0 rgba(228, 83, 75, 0.6);
  cursor: pointer;
}
.infos_buttons .submit:hover {
  box-shadow: 0 2px 9px 0 rgba(150, 180, 244, 0.6);
  cursor: pointer;
}

body {
  background-color: #eaeffc;
}
