.form_center {
  margin: 0 auto;
  width: 450px;
  max-width: 100%;
}

label {
  display: block;
  text-align: center;
  color: #475BF5;
  margin: 0;
}

.input_row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  width: 100%;
}

.cgu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cgu #cgu {
  width: initial;
}
.cgu label {
  margin-left: 1rem;
}
.cgu a, .cgu a:hover {
  color: #020b5d;
}

.input {
  width: 100%;
  max-width: 500px;
  height: 3rem;
  font-size: 1.125rem;
  border: 1px solid #475BF5;
  border-radius: 16px;
  color: #475BF5;
  padding: 0.75rem 1rem;
  box-shadow: 0 2px 9px 0 rgba(150, 180, 244, 0.2);
  transition: 0.2s;
}
.input::-moz-placeholder {
  color: #96b4f4;
}
.input:-ms-input-placeholder {
  color: #96b4f4;
}
.input::placeholder {
  color: #96b4f4;
}
.input:focus {
  outline: none;
  box-shadow: 0 2px 14px 0 rgba(150, 180, 244, 0.6);
}

.textarea {
  min-width: 18rem;
  min-height: 8rem;
}

.input_center {
  text-align: center;
}

.input_error {
  display: block;
  color: #e4534b;
  margin-bottom: 0.5rem;
  text-align: center;
}

.input_success {
  display: block;
  color: #475BF5;
  margin-bottom: 0.5rem;
  text-align: center;
}

.rate {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.rate label svg {
  width: 3rem;
  height: 2.5rem;
  fill: #FFFFFF;
  stroke: #feb3b1;
  stroke-width: 0.5px;
}
.rate input:checked ~ label svg {
  fill: #e4534b;
  stroke: #e4534b;
}
.rate input ~ label:hover svg,
.rate input ~ label:hover ~ label svg {
  fill: #feb3b1;
}

.bouton {
  height: 3rem;
  width: 3rem;
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #475BF5;
  border: 1px solid #475BF5;
  border-radius: 16px;
  color: #FFFFFF;
  transition: 0.2s;
}
.bouton:hover {
  color: #475BF5;
  background-color: #eaeffc;
  cursor: pointer;
  text-decoration: none;
}

.bouton_form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 60px;
  font-size: 1rem;
  width: 70%;
  max-width: 400px;
  border-radius: 15px;
  color: #FFFFFF;
  border: none;
  transition: 0.2s;
}
.bouton_form:hover {
  text-decoration: none;
  color: #FFFFFF;
}

.bbleu {
  background-color: #020b5d;
  box-shadow: 0 2px 9px 0 rgba(2, 11, 93, 0.2);
}
.bbleu:hover {
  box-shadow: 0 2px 9px 0 rgba(2, 11, 93, 0.4);
}

.brouge {
  background-color: #e4534b;
  box-shadow: 0 2px 9px 0 rgba(228, 83, 75, 0.2);
}
.brouge:hover {
  box-shadow: 0 2px 9px 0 rgba(228, 83, 75, 0.4);
  cursor: pointer;
}

.bsubmit {
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .inputText {
    font-size: 1.2rem;
  }
}
button.active.focus, button.active:focus,
button.focus, button:active.focus,
button:active:focus, button:focus {
  outline: none;
  box-shadow: none;
}

input.active.focus, input.active:focus,
input.focus, input:active.focus,
input:active:focus, input:focus {
  outline: none;
  box-shadow: none;
}

select.active.focus, select.active:focus,
select.focus, select:active.focus,
select:active:focus, select:focus {
  outline: none;
  box-shadow: none;
}

* {
  font-family: Nunito, sans-serif;
}

body {
  background: white;
}

.container_center {
  padding: 0 1rem 3rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.corp {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  padding: 1.5rem 0;
  color: #020b5d;
  font-family: "Yeseva One", serif;
  font-size: 1.5rem;
}
.corp:hover {
  color: #020b5d;
  text-decoration: none;
}

.logo {
  width: 2.25rem;
  height: 2.25rem;
  margin-right: 0.5rem;
}

.back_link {
  display: block;
  font-size: 1rem;
}

.titre {
  font-family: "Yeseva One", cursive;
  font-size: 2.5rem;
  line-height: 1;
  font-weight: normal;
  text-align: center;
  color: #020b5d;
  margin: 0 auto 2rem auto;
}

.sous_titre {
  font-family: "Yeseva One", cursive;
  font-size: 1.75rem;
  line-height: 1;
  font-weight: normal;
  text-align: center;
  color: #020b5d;
  margin: 0 auto 2rem auto;
  display: block;
}

.texte {
  text-align: center;
  width: 80%;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
}

.small_icon {
  width: 1rem;
  height: 1rem;
  fill: currentColor;
}

.big_icon {
  width: 36px;
  height: 36px;
  fill: currentColor;
}

.with_label {
  margin-right: 0.25rem;
}

.fb_icon {
  width: 18px;
  height: 36px;
  fill: currentColor;
}

.recherche {
  position: absolute;
  right: 36px;
  padding: 0.75rem;
  width: 3rem;
  height: 3rem;
}

.mentions_legales {
  padding: 0 2.25rem;
  max-width: 992px;
  margin: 0 auto 2rem auto;
}
.mentions_legales ul {
  list-style-position: inside;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .container_center {
    padding-bottom: 1rem;
  }

  .recherche {
    right: 0;
  }
}
@media screen and (min-width: 992px) {
  .container_corp {
    padding-left: 2.25rem;
    padding-bottom: 3rem;
  }

  .corp {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    justify-content: flex-start;
  }

  .recherche {
    right: calc((40% - 451px) / 2);
  }
}
::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #020b5d;
  border: 0px none #ffffff;
  border-radius: 51px;
}

::-webkit-scrollbar-thumb:hover {
  background: #031296;
}

::-webkit-scrollbar-thumb:active {
  background: #6978fc;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 20px;
}

::-webkit-scrollbar-track:hover {
  background: #ffffff;
}

::-webkit-scrollbar-track:active {
  background: #ffffff;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.form_center {
  margin: 0 auto;
  width: 450px;
  max-width: 100%;
}

label {
  display: block;
  text-align: center;
  color: #475BF5;
  margin: 0;
}

.input_row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  width: 100%;
}

.cgu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cgu #cgu {
  width: initial;
}
.cgu label {
  margin-left: 1rem;
}
.cgu a, .cgu a:hover {
  color: #020b5d;
}

.input {
  width: 100%;
  max-width: 500px;
  height: 3rem;
  font-size: 1.125rem;
  border: 1px solid #475BF5;
  border-radius: 16px;
  color: #475BF5;
  padding: 0.75rem 1rem;
  box-shadow: 0 2px 9px 0 rgba(150, 180, 244, 0.2);
  transition: 0.2s;
}
.input::-moz-placeholder {
  color: #96b4f4;
}
.input:-ms-input-placeholder {
  color: #96b4f4;
}
.input::placeholder {
  color: #96b4f4;
}
.input:focus {
  outline: none;
  box-shadow: 0 2px 14px 0 rgba(150, 180, 244, 0.6);
}

.textarea {
  min-width: 18rem;
  min-height: 8rem;
}

.input_center {
  text-align: center;
}

.input_error {
  display: block;
  color: #e4534b;
  margin-bottom: 0.5rem;
  text-align: center;
}

.input_success {
  display: block;
  color: #475BF5;
  margin-bottom: 0.5rem;
  text-align: center;
}

.rate {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.rate label svg {
  width: 3rem;
  height: 2.5rem;
  fill: #FFFFFF;
  stroke: #feb3b1;
  stroke-width: 0.5px;
}
.rate input:checked ~ label svg {
  fill: #e4534b;
  stroke: #e4534b;
}
.rate input ~ label:hover svg,
.rate input ~ label:hover ~ label svg {
  fill: #feb3b1;
}

.bouton {
  height: 3rem;
  width: 3rem;
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #475BF5;
  border: 1px solid #475BF5;
  border-radius: 16px;
  color: #FFFFFF;
  transition: 0.2s;
}
.bouton:hover {
  color: #475BF5;
  background-color: #eaeffc;
  cursor: pointer;
  text-decoration: none;
}

.bouton_form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 60px;
  font-size: 1rem;
  width: 70%;
  max-width: 400px;
  border-radius: 15px;
  color: #FFFFFF;
  border: none;
  transition: 0.2s;
}
.bouton_form:hover {
  text-decoration: none;
  color: #FFFFFF;
}

.bbleu {
  background-color: #020b5d;
  box-shadow: 0 2px 9px 0 rgba(2, 11, 93, 0.2);
}
.bbleu:hover {
  box-shadow: 0 2px 9px 0 rgba(2, 11, 93, 0.4);
}

.brouge {
  background-color: #e4534b;
  box-shadow: 0 2px 9px 0 rgba(228, 83, 75, 0.2);
}
.brouge:hover {
  box-shadow: 0 2px 9px 0 rgba(228, 83, 75, 0.4);
  cursor: pointer;
}

.bsubmit {
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .inputText {
    font-size: 1.2rem;
  }
}
button.active.focus, button.active:focus,
button.focus, button:active.focus,
button:active:focus, button:focus {
  outline: none;
  box-shadow: none;
}

input.active.focus, input.active:focus,
input.focus, input:active.focus,
input:active:focus, input:focus {
  outline: none;
  box-shadow: none;
}

select.active.focus, select.active:focus,
select.focus, select:active.focus,
select:active:focus, select:focus {
  outline: none;
  box-shadow: none;
}

* {
  font-family: Nunito, sans-serif;
}

body {
  background: white;
}

.container_center {
  padding: 0 1rem 3rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.corp {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  padding: 1.5rem 0;
  color: #020b5d;
  font-family: "Yeseva One", serif;
  font-size: 1.5rem;
}
.corp:hover {
  color: #020b5d;
  text-decoration: none;
}

.logo {
  width: 2.25rem;
  height: 2.25rem;
  margin-right: 0.5rem;
}

.back_link {
  display: block;
  font-size: 1rem;
}

.titre {
  font-family: "Yeseva One", cursive;
  font-size: 2.5rem;
  line-height: 1;
  font-weight: normal;
  text-align: center;
  color: #020b5d;
  margin: 0 auto 2rem auto;
}

.sous_titre {
  font-family: "Yeseva One", cursive;
  font-size: 1.75rem;
  line-height: 1;
  font-weight: normal;
  text-align: center;
  color: #020b5d;
  margin: 0 auto 2rem auto;
  display: block;
}

.texte {
  text-align: center;
  width: 80%;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
}

.small_icon {
  width: 1rem;
  height: 1rem;
  fill: currentColor;
}

.big_icon {
  width: 36px;
  height: 36px;
  fill: currentColor;
}

.with_label {
  margin-right: 0.25rem;
}

.fb_icon {
  width: 18px;
  height: 36px;
  fill: currentColor;
}

.recherche {
  position: absolute;
  right: 36px;
  padding: 0.75rem;
  width: 3rem;
  height: 3rem;
}

.mentions_legales {
  padding: 0 2.25rem;
  max-width: 992px;
  margin: 0 auto 2rem auto;
}
.mentions_legales ul {
  list-style-position: inside;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .container_center {
    padding-bottom: 1rem;
  }

  .recherche {
    right: 0;
  }
}
@media screen and (min-width: 992px) {
  .container_corp {
    padding-left: 2.25rem;
    padding-bottom: 3rem;
  }

  .corp {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    justify-content: flex-start;
  }

  .recherche {
    right: calc((40% - 451px) / 2);
  }
}
::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #020b5d;
  border: 0px none #ffffff;
  border-radius: 51px;
}

::-webkit-scrollbar-thumb:hover {
  background: #031296;
}

::-webkit-scrollbar-thumb:active {
  background: #6978fc;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 20px;
}

::-webkit-scrollbar-track:hover {
  background: #ffffff;
}

::-webkit-scrollbar-track:active {
  background: #ffffff;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  height: 300px;
  max-width: 270px;
  padding: 10px;
}
.card .img_store {
  width: 100%;
  height: auto;
  cursor: pointer;
}
.card .img_store img {
  width: 250px;
  height: 178.68px;
  border-radius: 16px;
}
.card .img_store:hover {
  filter: drop-shadow(0px 4px 4px grey);
}
.card .infos_store {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.card .id_store {
  display: none;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
}
.text h3 {
  color: #020b5d;
  padding-top: 10px;
}
.text .distance {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  color: #475BF5;
}
.text .distance p {
  margin: 0;
}
.text .note {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  color: #FF847C;
}
.text .note p {
  margin: 0;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  color: #e4534b;
}
.icons img {
  height: 30px;
  width: 30px;
  margin-right: 20px;
}
.icons .card_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icons .card_btn .icon {
  width: 2rem;
  height: 2rem;
  transition: all 0.05s;
}
.icons .card_btn:hover {
  cursor: pointer;
}
.icons .card_btn:hover .icon {
  width: 2.2rem;
  height: 2.2rem;
}

.index_header {
  width: 100%;
  background-color: #eaeffc;
  padding: 0 2.25rem;
  font-family: Nunito, sans-serif;
}
.index_header .header_content {
  display: flex;
  flex-direction: column;
}
.index_header .main_illustration {
  width: 100%;
  position: relative;
  left: calc(-25% - 2.25rem);
}
.index_header .flex_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.index_header .accroche, .index_header form, .index_header .input {
  width: 100%;
  max-width: 100%;
}
.index_header .accroche {
  padding: 1.5rem 0;
  color: #475BF5;
  font-family: "Yeseva One", serif;
  font-size: 2.25rem;
  font-weight: normal;
  text-align: right;
  line-height: 1;
}
.index_header .accroche span {
  font-family: inherit;
  display: block;
  color: #020b5d;
}
.index_header .separateur {
  margin: 0.5em 0;
  color: #475BF5;
}
.index_header .geoloc {
  width: initial;
  padding: 0.75rem 1rem;
}
.index_header .geoloc svg {
  margin-left: 0.75rem;
}

.accroche_index {
  text-align: center;
  margin: 30px 0;
}
.accroche_index p {
  font-family: "Yeseva One", serif;
  font-size: 36px;
  color: #020b5d;
}

.explications {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

.etape {
  display: flex;
  flex-direction: row;
  padding: 0 30px;
  max-width: 550px;
  margin: 0 auto;
}
.etape p {
  color: #475BF5;
  margin: 0;
}

.etape_img {
  width: 50%;
  padding: 15px;
  display: flex;
  align-items: center;
}

.etape_text {
  width: 50%;
  display: flex;
  align-items: center;
  text-align: center;
}

.etape_link_1 img {
  padding: 10px 100px;
}

.etape_link_2 img {
  padding: 10px 100px;
  transform: rotateY(180deg);
}

.commerces {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.categorie {
  display: flex;
  flex-direction: column;
  width: 150px;
  padding: 15px;
}
.categorie:hover p {
  font-weight: bold;
}

.cat_img {
  width: 100%;
  display: flex;
}
.cat_img img, .cat_img a {
  margin: 5px auto;
  width: 80px;
  transition: 0.2s;
}

.cat_text {
  text-align: center;
}
.cat_text p {
  color: #020b5d;
  margin: 0;
}

.carousel_index {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  margin-left: 10px;
  max-width: 1085px;
  margin: 0 auto;
}
.carousel_index .card {
  min-width: 270px;
}

.plus {
  width: 223px;
  margin: 30px auto;
}

.plus:hover {
  background-color: white;
}

@media screen and (min-width: 768px) {
  .index_header .header_content {
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 122.5%;
    right: 22.5%;
  }
  .index_header .main_illustration {
    width: 60%;
    position: initial;
  }
  .index_header .flex_container {
    width: 40%;
  }
  .index_header .accroche {
    font-size: 3rem;
    text-align: center;
  }
}
@media screen and (min-width: 992px) {
  .index_header .header_content {
    margin-bottom: -6rem;
  }
  .index_header .flex_container {
    width: 451px;
    margin: 0 auto;
  }

  .accroche_index {
    text-align: left;
    margin: 0 0 50px 100px;
  }
  .accroche_index p {
    font-size: 46px;
  }

  .ai2 {
    margin: 80px 0 50px 100px;
  }

  .explications {
    flex-direction: row;
  }

  .etape {
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 0;
  }

  .etape_text {
    font-size: 20px;
  }

  .etape:nth-child(3) .etape_text {
    order: 2;
  }

  .etape_link_1 {
    display: none;
  }

  .etape_link_2 {
    display: none;
  }

  .cat_text p {
    font-size: 20px;
  }

  .plus {
    font-size: 20px;
    width: 300px;
  }
}
@media screen and (min-width: 1200px) {
  .index_header .accroche {
    font-size: 3.5rem;
  }
}
