.index_header {
  width: 100%;
  background-color: #EAEFFC;
  padding: 0 2.25rem;
  font-family: Nunito, sans-serif;
}
.index_header .corp {
  display: block;
  width: 100%;
  padding: 1.5rem 0;
  color: #020B5D;
  font-family: "Yeseva One", serif;
  font-size: 1.5rem;
  text-align: center;
}
.index_header .main_illustration {
  width: 100%;
  position: relative;
  left: calc(-25% - 2.25rem);
}
.index_header .flex_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.index_header .accroche, .index_header form, .index_header .inputVille {
  width: 100%;
}
.index_header .accroche {
  padding: 1.5rem 0;
  color: #475BF5;
  font-family: "Yeseva One", serif;
  font-size: 2.25rem;
  font-weight: normal;
  text-align: right;
  line-height: 1;
}
.index_header .accroche span {
  display: block;
  color: #020B5D;
}
.index_header .inputVille {
  height: 3rem;
  font-size: 1.125rem;
  border: 1px solid #475BF5;
  border-radius: 16px;
  color: #475BF5;
  padding: 0.75rem 1rem;
  box-shadow: 0px 2px 9px 0px rgba(150, 180, 244, 0.2);
}
.index_header .inputVille::-moz-placeholder {
  color: #96B4F4;
}
.index_header .inputVille:-ms-input-placeholder {
  color: #96B4F4;
}
.index_header .inputVille::placeholder {
  color: #96B4F4;
}
.index_header .bouton {
  height: 3rem;
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #475BF5;
  border: 1px solid #475BF5;
  border-radius: 16px;
  color: white;
  transition: 0.2s;
}
.index_header .bouton:hover {
  background-color: #96b4f4;
}
.index_header .icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
}
.index_header .recherche {
  position: absolute;
  right: 36px;
  transform: translateY(-3rem);
  padding: 0.75rem;
  width: 3rem;
  height: 3rem;
}
.index_header .separateur {
  margin: 0.5em 0;
  color: #475BF5;
}
.index_header .geoloc svg {
  margin-left: 0.75rem;
}

.vagues_header {
  filter: drop-shadow(0 6px 12px rgba(150, 180, 244, 0.21));
  width: 100%;
}
