.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  height: 300px;
  width: 270px;
}
.card .img_store {
  border-radius: 15px;
  width: 100%;
  height: auto;
  background-color: #ff0096;
}
.card .infos_store {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  width: 100%;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 50%;
}
.text h3 {
  color: #020b5d;
}
.text .distance {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  color: #475BF5;
}
.text .distance svg {
  height: 15px;
  width: 15px;
  fill: #475BF5;
}
.text .note {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  color: #FF847C;
}
.text .note svg {
  height: 15px;
  width: 15px;
  fill: #FF847C;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 50%;
  height: 100%;
}
.icons svg {
  height: 45px;
  width: 45px;
  fill: #FF847C;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.leaflet-control-zoom {
  display: none;
}

.searchbar {
  margin-top: 25px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  width: 100vw;
  background-color: red;
}
.searchbar .search {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 80vw;
}
.searchbar .search input {
  padding-left: 15px;
  width: 100%;
  border-radius: 15px;
  height: 45px;
  border: solid 1px #475BF5;
}
.searchbar .search button {
  height: 45px;
  min-width: 45px;
  position: absolute;
  border: 0;
  background-color: #475BF5;
  border-radius: 15px;
}
.searchbar .filter {
  height: 45px;
  min-width: 45px;
  border: 0;
  background-color: #475BF5;
  border-radius: 15px;
}

::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #475BF5;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #475BF5;
  opacity: 1;
  /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #475BF5;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #475BF5;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #475BF5;
}

@media screen and (min-width: 576px) {
  .searchbar {
    width: 90vw;
  }
}
@media screen and (min-width: 992px) {
  .leaflet-control-zoom {
    display: inline;
  }

  main {
    align-items: start;
  }
  main .searchbar {
    margin-left: 5vw;
    width: 35vw;
  }
}
