* {
  font-family: Nunito, sans-serif;
}

.champ {
  height: 3rem;
  font-size: 1.125rem;
  border: 1px solid #475BF5;
  border-radius: 16px;
  color: #475BF5;
  padding: 0.75rem 1rem;
  box-shadow: 0 2px 9px 0 rgba(150, 180, 244, 0.2);
  transition: 0.2s;
}
.champ::-moz-placeholder {
  color: #96b4f4;
}
.champ:-ms-input-placeholder {
  color: #96b4f4;
}
.champ::placeholder {
  color: #96b4f4;
}
.champ:focus {
  outline: none;
  box-shadow: 0 2px 14px 0 rgba(150, 180, 244, 0.6);
}

.bouton {
  height: 3rem;
  width: 3rem;
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #475BF5;
  border: 1px solid #475BF5;
  border-radius: 16px;
  color: #FFFFFF;
}
.bouton:hover {
  background-color: #96b4f4;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
}

.recherche {
  position: absolute;
  right: 36px;
  padding: 0.75rem;
  width: 3rem;
  height: 3rem;
}

@media screen and (min-width: 768px) {
  .recherche {
    right: 0;
  }
}
@media screen and (min-width: 992px) {
  .recherche {
    right: calc((40% - 451px)/2);
  }
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  height: 300px;
  width: 270px;
  padding: 10px;
}
.card .img_store {
  width: 100%;
  height: auto;
}
.card .infos_store {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  width: 100%;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
}
.text h3 {
  color: #020b5d;
  padding-top: 10px;
}
.text .distance {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  color: #475BF5;
}
.text .distance p {
  margin: 0;
}
.text .distance img {
  height: 15px;
  width: 15px;
}
.text .note {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  color: #FF847C;
}
.text .note p {
  margin: 0;
}
.text .note img {
  height: 15px;
  width: 15px;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
}
.icons img {
  height: 30px;
  width: 30px;
  margin-right: 20px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 35%;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: 1s ease-in-out;
  background-color: white;
  z-index: 0;
  border-radius: 25px 25px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.popup .popup_header {
  border-radius: 25px 25px 0 0;
  width: 100%;
  height: 75px;
  background-color: #020b5d;
}
.popup .popup_body {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 80%;
  height: 65%;
  overflow-y: auto;
}
.popup .popup_buttons {
  position: absolute;
  bottom: 75px;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.popup .popup_buttons button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 75px;
  border: 0;
  border-radius: 15px;
  background-color: #475BF5;
  color: #FFFFFF;
}
.popup .popup_buttons button svg {
  height: 25px;
  width: 25px;
  fill: #FFFFFF;
}

.active {
  transform: translateY(0);
}

@media screen and (min-width: 576px) {
  .popup {
    left: 20px;
    width: calc(100% - 40px);
  }
}
@media screen and (min-width: 768px) {
  .popup {
    width: 50%;
  }
}
@media screen and (min-width: 992px) {
  .popup {
    width: 35%;
  }
  .popup .popup_buttons {
    bottom: 50px;
  }
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.leaflet-control-zoom {
  display: none;
}

.searchbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  width: calc(100% - 40px);
  position: fixed;
  top: 20px;
  left: 20px;
}
.searchbar .search {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 3.5rem);
}
.searchbar .recherche {
  right: 3.5rem;
}
.searchbar .champRecherche {
  width: 100%;
}

@media screen and (min-width: 992px) {
  .leaflet-control-zoom {
    display: inline;
  }

  main {
    align-items: start;
  }
  main .searchbar {
    width: 35%;
  }
}
