#register_form input[type=radio] {
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
}
#register_form .input_row {
  display: flex;
  flex-direction: column;
}
#register_form .input_error {
  color: red;
}
